/*
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
*/

body {
	background-color: #B39CD0;
	color: #B39CD0;
	font-family: 'Lato', sans-serif;
}

.header {
	height: 7vh;
	background-color: #845EC2;
	color: #FFC75F;
	padding-top: .5em;
}

.mainbody {
	max-width: 1200px;
}

.logo,
.start-button {
	font-family: 'Lobster', cursive;
}

.welcome-msg {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

.left,
.right {
	height: 88vh;
}

.text-box {
	height: 60vh;
}

.heyguys-btn {
	color: #845EC2;
	background-color: #FFC75F;
	border: 3px #845EC2 solid;
}

.right {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

i {
	font-size: 18em;

}

.neutral {
	color: white;
}

.smiley {
	color: #C4FCEF;
}

.frownie {
	color: #C34A36;
}


.top,
.bottom {
	height: 44vh;
}

.faces {
	padding-bottom: 1em;
}

.card {
	width: 100%;
	background-color: #FBEAFF;
	color: #845EC2;
	padding: .25em; 
}


.footer {
	height: 5vh;
	background-color: #845EC2;
}

.hashtags {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 3px;
}

