/*
font-family: 'Lobster', cursive;
font-family: 'Roboto', sans-serif;
*/

body {
	background-color: #B39CD0;
	color: #B39CD0;
	font-family: 'Roboto', sans-serif;
}


div {
	
}
.header {
	height: 7vh;
	background-color: #845EC2;
	color: #FFC75F;
}

.top-text {
	margin-top: 0.75em;
}

.left,
.right {
	height: 90vh;
}

.right {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.footer {
	height: 3vh;
	background-color: #845EC2;
}

.top,
.bottom {
	height: 45vh;
}

.card {
	width: 100%;
	background-color: #FBEAFF;
	border: 3px #845EC2 solid;
}

