body {
	background-color: purple;
}


div {
/*	border: 1px pink solid;*/
}
.header {
	height: 7vh;
}

.left,
.right {
	height: 90vh;
}

.right {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.footer {
	height: 3vh;
}

.top,
.bottom {
	height: 45vh;
}

.card {
	width: 100%;
}

